body,
input,
select,
option {
    font-size:12px;
    font-family: "ƒƒCƒŠƒI", Meiryo, "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}